apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    service:
      spec:
        externalTrafficPolicy: {{ externalTrafficPolicy }}
    deployment:
      kind: {% if externalTrafficPolicy == "Cluster" %}Deployment{% else %}DaemonSet{% endif %}
    tolerations:
    - key: CriticalAddonsOnly
      operator: Exists
    ports:
      websecure:
        forwardedHeaders:
          trustedIPs: ["10.42.0.0/16"]
        proxyProtocol:
          trustedIPs: ["10.42.0.0/16"]
        tls:
          enabled: true
      web:
        forwardedHeaders:
          trustedIPs: ["10.42.0.0/16"]
        proxyProtocol:
          trustedIPs: ["10.42.0.0/16"]
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
