apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    service:
      spec:
        externalTrafficPolicy: {{ externalTrafficPolicy }}
    deployment:
      kind: {% if externalTrafficPolicy == "Cluster" %}Deployment{% else %}DaemonSet{% endif %}
    tolerations:
    - key: CriticalAddonsOnly
      operator: Exists
    ports:
      websecure:
        tls:
          enabled: true
      web:
        redirectTo:
          port: websecure
