apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    service:
      spec:
        externalTrafficPolicy: {{ externalTrafficPolicy }}
    nodeSelector:
      node-role.kubernetes.io/master: "true"
    ports:
      websecure:
        tls:
          enabled: true
      web:
        redirectTo:
          port: websecure
