# Use ebpf driver instead of the default one. I was not able to build the default one in the nodes
driver:
  kind: auto

# Allow fancy notifications, using Alert Manager for now
falcosidekick:
  enabled: false
  replicaCount: 1
  image:
    tag: latest-arm64

# We need this for Prometheus
falco:
  metrics:
    enabled: true
    interval: 15m
  webserver:
    enabled: true
    prometheus_metrics_enabled: true
serviceMonitor:
  create: true

# Custom tolerations to allow falco to run in the master nodes
tolerations:
- effect: NoSchedule
  key: node-role.kubernetes.io/master
- effect: NoSchedule
  key: node-role.kubernetes.io/control-plane
- key: CriticalAddonsOnly
  operator: Exists
  effect: NoSchedule
