# Use ebpf driver instead of the default one. I was not able to build the default one in the nodes
driver:
  kind: auto

# We need this for Prometheus
falco:
  webserver:
    enabled: true
  http_output:
    enabled: true
    url: "http://falco-falcosidekick:2801"
falcosidekick:
  enabled: true
  replicaCount: 1
  config:
    prometheus:
      enabled: true
  serviceMonitor:
    enabled: true
    interval: 15s

# Custom tolerations to allow falco to run in the master nodes
tolerations:
- effect: NoSchedule
  key: node-role.kubernetes.io/master
- effect: NoSchedule
  key: node-role.kubernetes.io/control-plane
- key: CriticalAddonsOnly
  operator: Exists
  effect: NoSchedule
