#jinja2:variable_start_string:'[%' , variable_end_string:'%]'

apiVersion: v1
data:
  falco.json: |-
    {
      "annotations": {
        "list": [
          {
            "builtIn": 1,
            "datasource": {
              "type": "datasource",
              "uid": "grafana"
            },
            "enable": true,
            "hide": true,
            "iconColor": "rgba(0, 211, 255, 1)",
            "name": "Annotations & Alerts",
            "type": "dashboard"
          }
        ]
      },
      "editable": false,
      "fiscalYearStartMonth": 0,
      "graphTooltip": 0,
      "links": [],
      "liveNow": false,
      "panels": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "prometheus"
          },
          "description": "",
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "palette-classic"
              },
              "custom": {
                "axisBorderShow": false,
                "axisCenteredZero": false,
                "axisColorMode": "text",
                "axisLabel": "",
                "axisPlacement": "auto",
                "fillOpacity": 80,
                "gradientMode": "none",
                "hideFrom": {
                  "legend": false,
                  "tooltip": false,
                  "viz": false
                },
                "lineWidth": 1,
                "scaleDistribution": {
                  "type": "linear"
                },
                "thresholdsStyle": {
                  "mode": "off"
                }
              },
              "links": [],
              "mappings": [],
              "thresholds": {
                "mode": "absolute",
                "steps": [
                  {
                    "color": "green",
                    "value": null
                  },
                  {
                    "color": "red",
                    "value": 80
                  }
                ]
              },
              "unitScale": true
            },
            "overrides": []
          },
          "gridPos": {
            "h": 11,
            "w": 24,
            "x": 0,
            "y": 0
          },
          "id": 2,
          "options": {
            "barRadius": 0,
            "barWidth": 0.97,
            "fullHighlight": false,
            "groupWidth": 0.7,
            "legend": {
              "calcs": [],
              "displayMode": "list",
              "placement": "bottom",
              "showLegend": true
            },
            "orientation": "auto",
            "showValue": "auto",
            "stacking": "none",
            "tooltip": {
              "mode": "single",
              "sort": "none"
            },
            "xTickLabelRotation": 0,
            "xTickLabelSpacing": 100
          },
          "pluginVersion": "10.3.1",
          "targets": [
            {
              "datasource": {
                "type": "prometheus",
                "uid": "prometheus"
              },
              "expr": "increase(falco_events[1m]) > 0",
              "interval": "",
              "intervalFactor": 1,
              "legendFormat": "{{rule}} (ns=\"{{k8s_ns_name}}\",pod=\"{{k8s_pod_name}}\")",
              "refId": "A"
            },
            {
              "datasource": {
                "type": "prometheus",
                "uid": "prometheus"
              },
              "expr": "rate(falco_events{priority!=\"5\",priority!=\"6\",priority!=\"7\"}[5m]) > 0",
              "hide": true,
              "interval": "",
              "intervalFactor": 1,
              "legendFormat": "{{rule}} (ns=\"{{k8s_ns_name}}\",pod=\"{{k8s_pod_name}}\")",
              "refId": "B"
            }
          ],
          "title": "Events rate",
          "type": "barchart"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "prometheus"
          },
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "thresholds"
              },
              "custom": {
                "align": "auto",
                "cellOptions": {
                  "type": "auto"
                },
                "filterable": true,
                "inspect": false
              },
              "decimals": 2,
              "displayName": "",
              "mappings": [],
              "thresholds": {
                "mode": "absolute",
                "steps": [
                  {
                    "color": "green",
                    "value": null
                  }
                ]
              },
              "unit": "short",
              "unitScale": true
            },
            "overrides": [
              {
                "matcher": {
                  "id": "byName",
                  "options": "Value"
                },
                "properties": [
                  {
                    "id": "displayName",
                    "value": "Count"
                  },
                  {
                    "id": "unit",
                    "value": "short"
                  }
                ]
              },
              {
                "matcher": {
                  "id": "byRegexp",
                  "options": "/instance|job|container|service|namespace/"
                },
                "properties": [
                  {
                    "id": "custom.hidden",
                    "value": true
                  }
                ]
              },
              {
                "matcher": {
                  "id": "byName",
                  "options": "pod"
                },
                "properties": [
                  {
                    "id": "custom.hidden",
                    "value": true
                  }
                ]
              },
              {
                "matcher": {
                  "id": "byName",
                  "options": "k8s_ns_name"
                },
                "properties": [
                  {
                    "id": "displayName",
                    "value": "namespace"
                  }
                ]
              },
              {
                "matcher": {
                  "id": "byName",
                  "options": "k8s_pod_name"
                },
                "properties": [
                  {
                    "id": "displayName",
                    "value": "pod"
                  }
                ]
              },
              {
                "matcher": {
                  "id": "byName",
                  "options": "hostname"
                },
                "properties": [
                  {
                    "id": "displayName",
                    "value": "reporter"
                  }
                ]
              },
              {
                "matcher": {
                  "id": "byName",
                  "options": "priority"
                },
                "properties": [
                  {
                    "id": "mappings",
                    "value": [
                      {
                        "options": {
                          "0": {
                            "color": "red",
                            "index": 0,
                            "text": "EMERGENCY"
                          },
                          "1": {
                            "color": "red",
                            "index": 1,
                            "text": "ALERTS"
                          },
                          "2": {
                            "color": "red",
                            "index": 2,
                            "text": "CRITICAL"
                          },
                          "3": {
                            "color": "orange",
                            "index": 3,
                            "text": "ERROR"
                          },
                          "4": {
                            "color": "yellow",
                            "index": 4,
                            "text": "WARNING"
                          },
                          "5": {
                            "color": "green",
                            "index": 5,
                            "text": "NOTICE"
                          },
                          "6": {
                            "color": "blue",
                            "index": 6,
                            "text": "INFORMATIONAL"
                          },
                          "7": {
                            "color": "purple",
                            "index": 7,
                            "text": "DEBUG"
                          }
                        },
                        "type": "value"
                      }
                    ]
                  },
                  {
                    "id": "custom.cellOptions",
                    "value": {
                      "type": "color-text"
                    }
                  }
                ]
              }
            ]
          },
          "gridPos": {
            "h": 10,
            "w": 24,
            "x": 0,
            "y": 11
          },
          "id": 4,
          "links": [],
          "options": {
            "cellHeight": "sm",
            "footer": {
              "countRows": false,
              "enablePagination": true,
              "fields": "",
              "reducer": [
                "sum"
              ],
              "show": false
            },
            "showHeader": true
          },
          "pluginVersion": "10.3.1",
          "targets": [
            {
              "datasource": {
                "type": "prometheus",
                "uid": "prometheus"
              },
              "expr": "increase(falco_events[1m]) > 0",
              "format": "table",
              "instant": false,
              "interval": "30s",
              "refId": "A"
            }
          ],
          "title": "Totals",
          "transformations": [
            {
              "id": "merge",
              "options": {
                "reducers": []
              }
            }
          ],
          "transparent": true,
          "type": "table"
        }
      ],
      "refresh": "10s",
      "schemaVersion": 39,
      "tags": [
        "custom"
      ],
      "templating": {
        "list": [
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "filters": [],
            "hide": 0,
            "name": "Filters",
            "skipUrlSync": false,
            "type": "adhoc"
          }
        ]
      },
      "time": {
        "from": "now-3h",
        "to": "now"
      },
      "timepicker": {},
      "timezone": "",
      "title": "Falco Dashboard",
      "version": 1,
      "weekStart": ""
    }
kind: ConfigMap
metadata:
  name: grafana-dashboard-falco
  namespace: monitoring
  labels:
    grafana_dashboard: "1"
